.content-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

/* 별점 */
.review-rating {
    color: #5a7fdd;
    font-size: 30px;
    margin-bottom: 20px;
}

/* 본문 */
.review-content {
    font-weight: 500;
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

/* 날짜 */
.review-date {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

/* 버튼 */
.review-actions {
    margin-top: 12px;
    display: flex;
    gap: 8px;
}


.review-btn {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #f3f4f6;
    color: #4b5563;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.review-btn:hover {
    background-color: #4B5AE4;
    color: white;
    box-shadow: 0 2px 8px rgba(75, 90, 228, 0.3);
}

/* 모달 */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
}

.modal-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.modal-desc {
    color: #666;
    font-size: 14px;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 1px 4px rgba(177, 177, 177, 0.3);
}

/* 별점 (모달) */
.modal-stars {
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: #5a7fdd;
    cursor: pointer;
}

/* 버튼 영역 */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
